<footer class="border-top footer text-muted">
<div class="footer py-4 bg-dark text-white text-center">
    <div class="social">
        <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
        <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
        <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
    </div>
    <p style="color:#fff;">Designed By AliGeylaniCan </p>
</div>
</footer>