<div class="icons" style="background-color: #fff; width:100%!important;">
    <div class="flex-items d-flex justify-content-center text-center" style="height:100%;">

      <div>
        <i class='fas fa-user-shield fa-2x p-2'></i>
        <div>
          <h3>%100 Güvenli Alışveriş</h3>
          <p>%100 güvenli online alışverişin adresindesiniz.</p>
        </div>
      </div>

      <div>
        <i class='fas fa-handshake fa-2x p-2'></i>
        <div>
          <h3>Ömür Boyu Garanti</h3>
          <p>Kaliteli ham maddeler ile hazırlanan ürünlerimiz ömür boyu garantilidir.</p>
        </div>
      </div>

      <div>
        <i class='fas fa-truck fa-2x p-2'></i>
        <div>
          <h3>Tüm İllere Hızlı Kargo</h3>
          <p>3 iş günü içerisinde 81 ile ücretsiz kargo.</p>
        </div>
      </div>

      <div>
        <i class='fas fa-phone-square fa-2x p-2'></i>
        <div>
          <h3>7/24 Destek</h3>
          <p>Sipariş ve destek için XXXX XXX XX XX</p>
        </div>
      </div>

    </div>
</div>